@import url('./reset.css');

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 36px;
  margin-bottom: 32px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input{
  width: 272px;
  height: 40px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  border: 1px solid #808080;
  padding: 8px 16px;
  box-sizing: border-box;
}

input:hover{
  border:1px solid #000
}

input:focus{
  border: 1px solid #4e75ff;
  outline-width: 0;
}

button{
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  border: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

button:hover {
  background: #6c8cff;
}

button[type="button"]{
  display: block;
  width: 125px;
  margin: 32px auto;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 1128px;
  margin: 0 auto;
}

.gallery-item{
  width: calc((100% - 48px)/3);
  border: 1px solid #808080;
  box-sizing: border-box;
  height: 200px;
}

.info {
  display: flex;
  gap: 28px;
  justify-content: center;
}

.info-item{
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 4px;
}

.info-tag{
  font-weight: 600;
  line-height: 1.33333;
}

.image-container{
  height: 152px;
  width: 100%;
}



.load {
  margin: 0 auto;
  width: calc(100px - 14px);
  height: 50px;
  position: relative;
  animation: flippx 1s infinite linear;
  display: block;
}

.load:before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FF3D00;
  transform-origin: -14px 50%;
  animation: spin 0.5s infinite linear;
}

@keyframes flippx {

  0%,
  49% {
    transform: scaleX(1);
  }

  50%,
  100% {
    transform: scaleX(-1);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}